@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* Carousel columns */


.homesection .car-row-col {
    width: 65%;
}
.homesection .car-row-row {
    flex-wrap: nowrap;
    width: 100%;
}
.homesection .car-col {
    width: calc(100% - 90px);
}
.homesection .tick-col {
    width: 90px;
    background: #b9a0fe;
}
.homesection .car-col .homebrand {
    margin-top: 30px;
    margin-left: 30px;
}
.homesection .car-col .homebrand img{
    width: 240px;
}

.homesection .car-col .carousel-inner {
    position: relative;
    margin: 90px 0 0 0;
}

.homesection .car-col .carousel-inner .one {
    position: absolute;
    top: 0;
    color: #45464a;
    font-family: "Lexend", sans-serif;
    font-size: 114px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 8px;
    margin-left: 30px;
}
.homesection .car-col .carousel-inner .two {
    position: absolute;
    bottom: 0;
    color: #45464a;
    font-family: "Lexend", sans-serif;
    font-size: 114px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 8px;
    margin-left: 30px;
}
.homesection .car-col .carousel-inner .carousel-box


/* //Event columns */
.homesection .evnt-col{
    width: 35%;
}