@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* Carousel columns */


.homesection .car-row-col {
    width: 65%;
}
.homesection .car-row-row {
    flex-wrap: nowrap;
    width: 100%;
}
.homesection .car-col {
    width: calc(100% - 90px);
}
.homesection .tick-col {
    width: 90px;
    background: #b9a0fe;
}
.homesection .car-col .homebrand {
    margin-top: 30px;
    margin-left: 30px;
}
.homesection .car-col .homebrand img{
    width: 240px;
}

.homesection .car-col .carousel-inner {
    position: relative;
    margin: 90px 0 0 0;
}

.homesection .car-col .carousel-inner .one {
    position: absolute;
    top: 0;
    color: #45464a;
    font-family: "Lexend", sans-serif;
    font-size: 114px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 8px;
    margin-left: 30px;
    z-index: 1;
}
.homesection .car-col .carousel-inner .two {
    position: absolute;
    bottom: 0;
    color: #45464a;
    font-family: "Lexend", sans-serif;
    font-size: 114px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 8px;
    margin-left: 30px;
    z-index: 1;
}
.homesection .car-col .carousel-inner .carousel-box {
    z-index: 10;
    position: relative;
    padding-top: 60px;
    padding-left: 28%;
    gap: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.homesection .car-col .carousel-inner .carousel-box .car-item {
    height: 500px;
    width: 330px;
    max-height: 500px;
    max-width: 330px;
    position: relative;
}
.homesection .car-col .carousel-inner .carousel-box .car-item .carimg {
    height: 500px;
    width: 330px;
    max-height: 500px;
    max-width: 330px;
    object-fit: cover;
}

.homesection .car-col .carousel-inner .carousel-box .car-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* //Event columns */
.homesection .evnt-col{
    width: 35%;
}