.floating-hero {
    background: #f8f1df;
    min-height: 100vh;
    transition: all 1s;
}
.floating-hero .navmenu{
    padding-top: 90px;
}

.floating-hero .hero-anim {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    padding-left: 100px;
    padding-top: 100px;
}

.floating-hero .hero-anim .hero-image {
    max-height: 72px;
    object-fit: cover;
}
.floating-hero .hero-anim .hero-text {
    font-family: "Urbanist", sans-serif;
    font-size: 70px;
    letter-spacing: 11px;
    line-height: 1.1;
    font-weight: 700;
    color: #000;
}