.floating-hero {
    background: #f8f1df;
    min-height: 100vh;
    transition: all 1s;
}
.floating-hero .navmenu{
    padding-top: 90px;
}

.floating-hero .hero-anim {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 10px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.floating-hero .hero-anim .hero-image {
    max-height: 72px;
    object-fit: cover;
}
.floating-hero .hero-anim .hero-text {
    font-family: "Urbanist", sans-serif;
    font-size: 70px;
    letter-spacing: 6px;
    line-height: 1.1;
    font-weight: 700;
    color: #000;
}
.floating-hero .hero-anim .hero-image:nth-child(2) {
    animation-name: hero-first;
    animation-duration: 1s;
}
@keyframes hero-first {
    0% {
        width: 450px;
    }
    100% {
        width: 330px;
    }
}
@keyframes hero-second {
    0% {
        width: 620;
    }
    0% {
        width: 470;
    }
}